<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" href="main.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    </head>
    <body>
        
       
        
        <div class="home">
            
             <div class="nav">
            <ul>
                <li class="logo"><a href="#"><img src="logo-light.png"> </a></li>
                <li><a href="#">Home </a></li>
                <li><a href="#">About </a></li>
                <li><a href="#">Services </a></li>
                <li><a href="#">Pricing </a></li>
                <li><a href="#">News </a></li>
                <li><a href="#" class="cont">Contact </a></li>
            </ul>
            </div>
            
            <div class="clr"></div>
            
             <div class="caption">
                <h3>Time to change your business</h3>
                <p>Our small and medium business solutions <br> helped grow over a hundred companies.</p>
                <button class="btn">LEARN MORE</button>
            
             </div>
            
       </div>
            
        <div class="about">
            <div class="collect">
            <div class="section">
                   <div class="sec_icon">
               <span class="icon"><i class="fas fa-key"></i></span>
                    </div>
                <div class="sec_content">
                <h3>Private Solutions</h3>
                <p>Morbi pellentesque, nisl id semper bibendum, nibh sem fermentum magna, eget commodo.</p>
                </div>
            </div>
            
            
             <div class="section">
                 <div class="sec_icon">
                 <span class="icon"><i class="far fa-thumbs-up"></i></span>
                       </div>
                 <div class="sec_content">
                <h3>Small Business Discounts </h3>
                <p>Morbi pellentesque, nisl id semper bibendum, nibh sem fermentum magna, eget commodo. </p>
                     </div>
            </div>

            
             <div class="section">
                 <div class="sec_icon">
                      <span class="icon"><i class="far fa-heart"></i></span>
                
                 </div>
                 <div class="sec_content">
                <h3>Satisfied Clients </h3>
                <p>Morbi pellentesque, nisl id semper bibendum, nibh sem fermentum magna, eget commodo. </p>
                    </div>
            </div>
           </div> 
            
        </div>
            
            <div class="clr"></div>
        <div class="service">
            <div class="head">
             <h2>Our Services</h2>
                <p>This is a subtitle, feel free to change it!</p>
            </div>
            <div class="serv">
                <div class="ser">
            <img src="full-6-600x420.jpg">
                    <h2>Item Title </h2>
                    <p>Monec quis rhoncus augue. In fermentum eget neque tristique scelerisque. Morbi at elemen nisi. Quisque pellentesque. </p>
                    <a href="#">Learn More <span> <i class="fas fa-arrow-right"></i> </span>  </a>
                </div>
                 <div class="ser">
            <img src="full-5-600x420.jpg">
                    <h2>Cool Ideas </h2>
                    <p>Monec quis rhoncus augue. In fermentum eget neque tristique scelerisque. Morbi at elemen nisi. Quisque pellentesque. </p>
                    <a href="#">Learn More <span> <i class="fas fa-arrow-right"></i> </span>  </a>
                </div>
                 <div class="ser">
            <img src="full-4-600x420.jpg">
                    <h2>Premium Support </h2>
                    <p>Monec quis rhoncus augue. In fermentum eget neque tristique scelerisque. Morbi at elemen nisi. Quisque pellentesque. </p>
                    <a href="#">Learn More <span> <i class="fas fa-arrow-right"></i> </span>  </a>
                </div>
            </div>
        </div>
            <div class="clr"></div>
        
        <div class="secret">
            <div class="sec_left">
                <h2> Our Secret </h2>
                <p>Morbi pellentesque, nisl id semper bibendum, nibh sem fermentum magna, eget commodo leo velit sit amet velit. Aliquam fermentum, lorem quis posuere mattis, est justo porttitor magna, in commodo risus justo vitae nibh. Quisque consequat venenatis rutrum. </p>
                <ul>
                <li><span><i class="fas fa-check"></i></span> Aliquam fermentum lorem quis posuere mattis. </li>
                    <li><span><i class="fas fa-check"></i></span> Sed mollis sapien erat id pellentesque libero. </li>
                    <li><span><i class="fas fa-check"></i></span> Pellentesque nisl id semper bibendum. </li>
                </ul>
             <button class="btn">LEARN MORE</button>
            
            </div>
            <div>
                <img src="business-main-700x680.jpg">
            </div>
        
        </div>
        <div class="clr"></div>
        
        
        <div class="testemonial">
            <div class="top">
                <span class="icon"><i class="far fa-comment"></i></span>
            </div>
             <div class="testimon">
                  <div class="test">
                      <div class="message">
                                            <p>Per seacula quarta decima et quinta decima.Modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum quarta decima. Lorem ipsum dolorum have a great day. </p>

                      </div>
                      <div class="person">
                       <h3 class="name">Michael Moore</h3>
                       <h3 class="company">Apple</h3>
                      </div>
                      
                 </div>
                  <div class="test">
                       <div class="message">
                                            <p>Humanitatis per seacula quarta decima et quinta decima. Modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum quarta decima. Modo typi quartasab. </p>

                      </div>
                      <div class="person">
                       <h3 class="name">Britney Doe</h3>
                      <h3 class="company">Google</h3>
                      </div>
                     
                 </div>
                  <div class="test">
                       <div class="message">
                                            <p>Formas humanitatis per seacula quarta decima et quinta decima. Modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum quarta decima et quinta decima. </p>

                      </div>
                      <div class="person">
                      <h3 class="name">John Smith</h3>
                      <h3 class="company">Microsoft</h3>
                      </div>
                      
                 </div>
            </div>
        </div>
        <div class="clr"></div>
        
        <div class="numbers">
            <div>
         <span class="icon"><i class="far fa-thumbs-up"></i></span>
                <br>
                <span class="number">1430</span>
                <p>Page Likes</p>
        </div>
         <div>
         <span class="icon"><i class="fas fa-home"></i></span>
             <br>
                <span class="number">64</span>
                <p>Locations</p>
        </div>
             <div>
         <span class="icon"><i class="far fa-lightbulb"></i></span>
                 <br>
                <span class="number">960</span>
                <p>Great Ideas</p>
        </div>
             <div>
         <span class="icon"><i class="far fa-comment"></i></span>
                 <br>
                <span class="number">420</span>
                <p>Comments</p>
        </div>
        </div>
        <div class="clr"></div>
        
        <div class="addition">
            <h1>Additional value</h1>
        <p>Donec quis rhoncus augue. In fermentum eget neque tristique scelerisque. Morbi <br> at elementum nisi. Quisque pellentesque at enim vitae bibendum. Aliquam <br>imperdiet egestas nisi. Aliquam pharetra lacus non sem ullamcorper tempus.</p>
             <button class="btn">LEARN MORE</button>
        </div>
        
          <div class="service2">
            <div class="head">
             <h2>Other Services</h2>
                <p>What else our company can offer you.</p>
            </div>
            <div class="serv">
                <div class="ser">
   

                    <h2>Facilities </h2>
                    <p>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque pellentesque. Nunc feugiat felis vitae aliquet consequat. Aliquam ullamcorper. </p>
                </div>
                 <div class="ser">
                    <h2>Best Equipment </h2>
 <p>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque pellentesque. Nunc feugiat felis vitae aliquet consequat. Aliquam ullamcorper. </p>                </div>
                 <div class="ser">
                    <h2>Incredible Location </h2>
 <p>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque pellentesque. Nunc feugiat felis vitae aliquet consequat. Aliquam ullamcorper. </p>                </div>
                 <div class="ser">
                    <h2>Premium Support </h2>
 <p>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque pellentesque. Nunc feugiat felis vitae aliquet consequat. Aliquam ullamcorper. </p>                </div>
                 <div class="ser">
                    <h2>Incredible Team</h2>
 <p>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque pellentesque. Nunc feugiat felis vitae aliquet consequat. Aliquam ullamcorper. </p>                </div>
                 <div class="ser">
                    <h2>Incredible Location </h2>
 <p>Ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultricies nisi at scelerisque pellentesque. Nunc feugiat felis vitae aliquet consequat. Aliquam ullamcorper. </p>                </div>
            </div>
        </div>
            <div class="clr"></div>
        
        <div class="parteners">
        <img src="logo_01.png">
         <img src="logo_02.png">
             <img src="logo_03.png">
             <img src="logo_04.png">
             <img src="logo_05.png">
        
        </div>

        <div class="ask">
            <div class="sec">
            
            <div class="question">
                <h2>Feeling convinced?</h2>
                <p>I am a subtitle, feel free to change me!</p>
            </div>
            <div class="button"> 
                 <button class="btn">CONTACT US</button>
            </div>
                </div>
        </div>
         <div class="clr"></div>
        
        <div class="footer">
            <div class="foot">
                <div class="aboutus"> 
                    <h2>About us </h2>
                    <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur. I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                <div class="hours">
                     <h2>Opening Hours </h2>
                    <ul>
                        <li><span><i class="fas fa-chevron-right"></i></span>Mon-Thu: 8:00 - 17:00</li>
                        <li><span><i class="fas fa-chevron-right"></i></span>Fri: 8:00 - 19:00</li>
                        <li><span><i class="fas fa-chevron-right"></i></span>Sat: 11:00 - 14:00</li>
                        <li><span><i class="fas fa-chevron-right"></i></span>Sun: Closed</li>
                    </ul>
                </div>
                <div class="pages">
                     <h2>Pages </h2>
                     <ul>
       
                        <li><span><i class="fas fa-chevron-right"></i></span><a href="#">About</a></li>
                        <li><span><i class="fas fa-chevron-right"></i></span><a href="#">Services</a></li>
                        <li><span><i class="fas fa-chevron-right"></i></span><a href="#">News</a></li>
                        <li><span><i class="fas fa-chevron-right"></i></span><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="contact">
                     <h2>Contact Details </h2>
                     <ul>
                        <li><span><i class="fas fa-map-marker-alt"></i></span>Manchester Road 123-78B, Silictown 7854MD, Great Country</li>
                        <li><span><i class="fas fa-phone"></i></span>+46 123 456 789</li>
                        <li><span><i class="fas fa-envelope"></i></span><a href="#">hello@sitename.com</a></li>
                    </ul>
                </div>
            </div>
        
        </div>
        <div class="clr"></div>
        <div class="foot-nav">
            <div class="social">
                <div class="media"><i class="fab fa-twitter"></i> </div>
                <div class="media"><i class="fab fa-linkedin"></i> </div>
                <div class="media"><i class="fab fa-google"></i> </div>
                <div class="media"><i class="fab fa-facebook"></i> </div>
            </div>
             <div class="copyright">  
                <p>Copyright 2017. All rights reserved. </p>
            </div>
        </div>
        <div class="clr"></div>
    </body>
</html>
